<!-- Mensajes de error -->
<% if @theme.errors.any? %>
    <div id="errorExplanation">
      <h2><%= pluralize(@theme.errors.count, "error") %> prohibited
        this post from being saved:</h2>
      <ul>
        <% @theme.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
       <% end %>
      </ul>
    </div>
  <% end %>


 <!-- Boton Modal-->
 <center>
   
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" >Add +</button>

 </center>

<!-- Objetos-->
<% @themes.each do |i|%>
  <p>Title : <%= i.name %></p>
  <%= image_tag  i.image.thumb.url  %>
  |show
   |<%= link_to 'editar' ,edit_category_theme_path(i.category_id , i.id) %>
  |<%= link_to "Eliminar" , { :action => :destroy, :id => (i.id) }, :method => :delete ,data: { confirm: '¿Estás seguro?' }  %>
<%end%>



<!-- formulario -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Theme</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <!-- Formulario -->
          <%= form_for ([@category,@theme]),:url => { :action => :create }   do |f| %> 
          <!-- Campos -->
             <p> 
                <%= f.label :name, "Título" %>
                <br />
                <%= f.text_field :name  %>
             </p>
             <p>
              <%= f.label :image %>
              <%= f.file_field :image , :id => 'imagen' ,:accept =>'.pdf,.gif,.jpeg,.jpg' %>
             </p>
             <p> 
                   <%= f.submit "Enviar" %> 
             </p>
          <%end %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>

